Src/app.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="connectionStrings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="add">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="connectionString" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="unity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="containers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="container">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="type">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="lifetime">
                                  <xs:complexType>
                                    <xs:attribute name="type" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="mapTo" type="xs:string" use="required" />
                              <xs:attribute name="name" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="appSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="add">
                <xs:complexType>
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.web">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="compilation">
                <xs:complexType>
                  <xs:attribute name="debug" type="xs:boolean" use="required" />
                  <xs:attribute name="targetFramework" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="httpRuntime">
                <xs:complexType>
                  <xs:attribute name="targetFramework" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="pages">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="namespaces">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="add">
                            <xs:complexType>
                              <xs:attribute name="namespace" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="httpModules" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.webServer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="validation">
                <xs:complexType>
                  <xs:attribute name="validateIntegratedModeConfiguration" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="handlers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="remove">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="add">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="path" type="xs:string" use="required" />
                        <xs:attribute name="verb" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="preCondition" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="modules" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runtime">
          <xs:complexType>
            <xs:sequence>
              <xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.codedom">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="compilers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="compiler">
                      <xs:complexType>
                        <xs:attribute name="language" type="xs:string" use="required" />
                        <xs:attribute name="extension" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="warningLevel" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="compilerOptions" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="entityFramework">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="defaultConnectionFactory">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="parameters">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="parameter">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="providers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="provider">
                      <xs:complexType>
                        <xs:attribute name="invariantName" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DbProviderFactories">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="remove">
                        <xs:complexType>
                          <xs:attribute name="invariant" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="add">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="invariant" type="xs:string" use="required" />
                          <xs:attribute name="description" type="xs:string" use="required" />
                          <xs:attribute name="type" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>